<h1>答える画面</h1>
<p>渡された@post_idの値:<%= @post_id %></p>
<div class="container">
  <img class="col-md-12 img-fluid" src= "https://s3-ap-northeast-1.amazonaws.com/answer-me-716-production/images/<%= @post_id %>.png" alt="">
</div>
