<div>
  <%= image_tag 'top.png', width: '315' %>
</div>

<div>
  <p>文字が入った画像を自動生成して、気軽に力強いツイートができるサービスです</p>
  <p><u>簡単3StepでTwitter投稿！</u></p>
  <p>生成される画像を確認してからツイートするか決められます！まずは画像作成してみてください^^</p>
</div>

<!-- 部分テンプレート -->
<%= render 'form', post: @post %>
 <!-- render 部分テンプレート名, キー１:値１
 アクション内で定義した@post変数に、form部分テンプレート内でpost変数でアクセスできる -->
