<header>
  <div class="logo"><%= image_tag "logo.png", :class => "logo_img" %></div>
</header>

<!-- キービジュアル -->
<%= image_tag "key_visual.jpg", :class => "cover" %>

  <div class="feature">
    <h1>Answer.meの特徴</h1>
    <ol>
      <li>
        <p>質問を投稿</p>
        <p>画像</p>
      </li>
      <li>
        <p>回答をする</p>
        <p>画像</p>
      </li>
      <li>
        <p>回答を見る</p>
        <p>画像</p>
      </li>
    </ol>
  </div>



<!-- 部分テンプレート -->
<%= render 'form', post: @post %>
 <!-- render 部分テンプレート名, キー１:値１
 アクション内で定義した@post変数に、form部分テンプレート内でpost変数でアクセスできる -->
