<head>
  <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
  <script>
       (adsbygoogle = window.adsbygoogle || []).push({
            google_ad_client: "ca-pub-6262833481148006",
            enable_page_level_ads: true
       });
  </script>
</head>

<div class="introduce">
    <!-- キービジュアル -->
    <%= image_tag "key_01.png", :class => "cover" %>
</div>

  <script type="text/javascript">
  $('#animation').css('visibility','hidden');
  $(window).scroll(function(){
   var windowHeight = $(window).height(),
       topWindow = $(window).scrollTop();
   $('#animation').each(function(){
    var targetPosition = $(this).offset().top;
    if(topWindow > targetPosition - windowHeight + 100){
     $(this).addClass("fadeInDown");
    }
   });
  });

  $('#animation2').css('visibility','hidden');
  $(window).scroll(function(){
   var windowHeight = $(window).height(),
       topWindow = $(window).scrollTop();
   $('#animation2').each(function(){
    var targetPosition = $(this).offset().top;
    if(topWindow > targetPosition - windowHeight + 100){
     $(this).addClass("fadeInDown");
    }
   });
  });
  </script>



<!-- 部分テンプレート -->
<%= render 'form', post: @post %>
 <!-- render 部分テンプレート名, キー１:値１
 アクション内で定義した@post変数に、form部分テンプレート内でpost変数でアクセスできる -->
