// Custom bootstrap variables must be set or imported *before* bootstrap.
// @import "bootstrap";

$pink: hsl(335, 52%, 64%);
$usupink: hsla(334, 72%, 71%, 0.63);
$blue: hsl(190, 74%, 60%);
$gray: rgb(237, 238, 238);
$back-blue: rgb(142, 218, 229);



@import url(http://fonts.googleapis.com/earlyaccess/notosansjapanese.css);
body {
	font-family: 'Noto Sans Japanese', sans-serif;
  .w100 {font-weight: 100;}
  .w200 {font-weight: 200;}
  .w300 {font-weight: 300;}
  .w400 {font-weight: 400;}
  .w500 {font-weight: 500;}
  .w700 {font-weight: 700;}
  .w900 {font-weight: 900;}
}


@media screen and (min-width: 800px) {
   /* 表示領域が800px以上の場合に適用するスタイル */
}

body {
  text-align: center;
  background: url(/images/background.png);
	background-color: white;
	background-size: cover;
  margin: 0;
  // text-align: center;
	h1{
		font-size: 40px;
	}
  h1, h2, h3, label{
    color: white;
  }
	p{
		font-size: 16px;
	}
}

// JS
#animation, #animation2, #animation3, #animation4 {
margin: 50px 0;
font-weight: bold;
color: #ff0000;
}

.fadeInDown {
 -webkit-animation-fill-mode:both;
 -ms-animation-fill-mode:both;
 animation-fill-mode:both;
 -webkit-animation-duration:1s;
 -ms-animation-duration:1s;
 animation-duration:1s;
 -webkit-animation-name: fadeInDown;
 animation-name: fadeInDown;
 visibility: visible !important;
}
@-webkit-keyframes fadeInDown {
 0% { opacity: 0; -webkit-transform: translateY(-20px); }
 100% { opacity: 1; -webkit-transform: translateY(0); }
}
@keyframes fadeInDown {
 0% { opacity: 0; -webkit-transform: translateY(-20px); -ms-transform: translateY(-20px); transform: translateY(-20px); }
 100% { opacity: 1; -webkit-transform: translateY(0); -ms-transform: translateY(0); transform: translateY(0); }
}

// TOPページ

.introduce{

}
img{
  vertical-align:bottom;
}

#bar{
  width:100%;
  height: 10%;
  background-color: $blue;
  opacity: 0.9;
  color: white;
  margin-top: 0;
	font-size: 20px;
	text-align: right;
}

.cover{
  width:100%;
  padding-bottom: 0;
  margin-bottom: 0;
}

.contents{
  display: flex;
  justify-content: center;
}

.about_answer {
  padding-bottom: 10%;
  width: 60%;
  height: 60%;
}

.how_to_answer{
  width: 60%;
  height: 60%;
}

.frame{
	margin-bottom: 1%;
}

.feature{

  text-align: center;
  h1{

    max-width: 100%;
  }
  ol{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;

    color:gray;
    list-style: none;
    padding-top: 50px;
    padding-bottom: 100px;
  }
  li{
    border: 2px $blue solid;
    border-radius: 2%;
    padding: 100px;
    margin-bottom: 5px;
  }
}

.howto{

}

.step1, .step2, .step3{
  @extend .feature;
  .text-bar{
    background-color: $blue;
    color:white;
    font-size: 10px;
    opacity: 0.9;
  }

  .img{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding-top: 5%;
    label{
      padding:0 15%;
    }
  }
  .form-control{
    margin-top: 10%;
    padding: 0.5em 1em;
    margin: 2em 0;
    font-weight: bold;
    color: #6091d3;/*文字色*/
    background: #FFF;
    border: solid 3px $gray;/*線*/
    border-radius: 10px;/*角の丸み*/
  }
}
.box2 {
    padding: 0.5em 1em;
    margin: 2em 0;
    font-weight: bold;
    color: $blue;/*文字色*/
    background: #FFF;
    border: solid 3px $blue;/*線*/
    border-radius: 10px;/*角の丸み*/
    resize: none;
    width:50%;
    height:40%;
}

footer{
  background-color: rgb(98, 98, 98);
  padding: 2% 0;
}

.actions{
  padding-bottom: 100px;
}

//confirmページ
.confirm_img{
  padding-bottom: 50px;
}
.title{
  margin-left: 10%;
  margin-right: 10%;
  color: $blue;
  padding: 0.5em;/*文字周りの余白*/
  background: white;/*背景色*/
  border-left: solid 5px $blue;/*左線（実線 太さ 色）*/
}

.confirm_end{
  margin-top: 10%;
  margin-bottom: 5%;
}



//answer.html
.row{
  margin-bottom: 10%;
}
.answer{
  padding: 0.5em;/*文字周りの余白*/
  background: white;/*背景色*/
  border-top: solid 1px rgb(241, 241, 241);/*左線（実線 太さ 色）*/
}

.answer_img{
  width: 80%;
  margin-bottom: 3%;
}

.form-group{
  display: flex;
  flex-direction: column;
}


.midashi{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.answers-box{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: white;
  color: gray;
  width: 80%;
  margin: auto;
  border: solid 1px #e5eff8;
}

.end{
  margin-bottom: 10%;
}

// ボタン
.square_btn {
    display: inline-block;
    padding: 1.3em 1em;
    text-decoration: none;
    color: $blue;
    border: solid 2px $blue;
    border-radius: 3px;
    transition: .4s;
		background-color: white;
		font-size: 20px;
}
.square_btn:hover {
    background: $blue;
    color: white;
}

// Twitterボタン
.fl_tw {
  text-decoration: none;
  display: inline-block;
  text-align: center;
  color: #1da1f3;
  font-size: 25px;
  text-decoration: none;
  }

.fl_tw:hover {
  color:#88daff;
  transition: .5s;
}

.fl_tw .twicon{
  border-radius: 10px;
  position: relative;
  display: inline-block;
  width: 50px;
  height: 50px;
  font-size: 35px;
  line-height: 50px;
  vertical-align: middle;
  color: #FFF;
  background: #1da1f3;
}

.fl_tw .twicon .fa {
  line-height: 50px;
}

// プライバシーポリシー
.privacy-policy{
	p{
		color:black;
		font-size: 16px;
	}
}
 .privacy{
	 font-size: 30px;
	 color: $pink;
 }
